body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #868282;
}

html{
  font-size: 2.5em; /* 22px */
  line-height: 3em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}


#content {
  
  width: 1000px;
  margin: 0 auto;
  border-style: hidden;
  
}

#checkbox{
  width: 20px;
  height: 20px;
}

.labels{
  display: inline-block;
  width: 300px;
  text-align: center;
}
.textAreas{
  display: block;
  width: 300px;
  height: 25px;
}

#submitButton{
  margin: auto;
  float: right;
}







@media (max-width: 1000px) and (min-width: 601px) {
 
  #content {
    width: 100%
  }
  
  html{
    font-size: 2em;
    line-height: 2.5em;
    text-rendering: optimizeLegibility;
    
  }
  
  h1 {
   padding: 0.5em;
   font-size: 2em;
    
  }
  
  
#content {
  
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  border-style: hidden;
  vertical-align: middle;
}
  
}





@media (max-width: 600px){
  
  #content {
    width: 100%
  }
  
    html{
    font-size: 1.5em;
    line-height: 2em;
    text-rendering: optimizeLegibility;
    
  }
}

